[submodule "external/consensus-specs"]
	path = external/consensus-specs
	url = https://github.com/ethereum/consensus-specs.git
[submodule "external/aws-lc"]
	path = external/aws-lc
	url = https://github.com/aws/aws-lc.git
