[submodule "external/consensus-specs"]
	path = external/consensus-specs
	url = https://github.com/ethereum/consensus-specs.git
[submodule "external/hacl"]
	path = external/hacl
	url = https://github.com/cryspen/hacl-packages
